@model News

    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Blog Single Sidebar</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index-2.html">Home</a></li>
                        <li>Blog Single Sidebar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <section class="section blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="single-inner">
                        <div class="post-details">
                            <div class="main-content-head">
                                <div class="meta-information">
                                    <h2 class="post-title">
                                        Bring to the table win-win survival strategies to
                                        ensure proactive customer service.
                                    </h2>

                                    <ul class="meta-info">
                                        <li>
                                            <a href="">@Model.Author</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">@Model.Date.ToString("dd MMM yyyy")</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Marketing</a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="post-thumbnils">
                                    <img src="~/images/blog/@Model.PathImage" alt="#">
                                </div>
                                <div class="detail-inner">
                                    <p>
                                        With over 25,000 customers worldwide, Appex is the world leading analytics and
                                        marketing suite for Instagram and a partner of the world's most-loved brands
                                        such as National Geographic, Gucci, Marc Jacobs, Samsung, Emirates and more.
                                    </p>
                                    <p>
                                        As a Customer Support Specialist, we expect you to be up-to-date with the latest
                                        digital technologies and social media trends. You should have excellent
                                        communication skills and be able to assist our customers in a fast, efficient
                                        and professional manner. If you enjoy fixing issues and helping improve the
                                        overall customer experience, this job is for you!
                                    </p>
                                    <h3>
                                        Summary of Completed Research
                                    </h3>
                                    <p>
                                        Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                        Iterative approaches to corporate strategy foster collaborative thinking to
                                        further the overall value proposition. Organically grow the holistic world view
                                        of disruptive innovation via workplace diversity and empowerment.
                                    </p>
                                    <p>
                                        Bring to the table win-win survival strategies to ensure proactive domination. At
                                        the end of the day, going forward, a new normal that has evolved from generation
                                        X is on the runway
                                    </p>
                                    <p>
                                        Heading towards a streamlined cloud solution. User generated content in real-time
                                        will have multiple touchpoints for offshoring Capitalize on low hanging fruit to
                                        identify a ballpark value added activity to beta test. Override the digital
                                        divide with additional
                                    </p>
                                    <h3>
                                        Security and Reliability
                                    </h3>
                                    <p>
                                        Capitalize on low hanging fruit to identify a ballpark value added activity to
                                        beta test. Override the digital divide with additional clickthroughs from
                                        DevOps. Nanotechnology immersion along the information highway will close the
                                        loop on focusing solely on the bottom line.
                                    </p>
                                    <blockquote>
                                        <div class="icon">
                                            <i class="lni lni-quotation"></i>
                                        </div>
                                        <h4>
                                            "Don't demand that things happen as you wish, but wish that they happen as
                                            they
                                            do
                                            happen, and you will go on well."
                                        </h4>
                                        <span>- Epictetus, The Enchiridion</span>
                                    </blockquote>
                                    <h3>Setting the mood with incense</h3>
                                    <p>
                                        Bring to the table win-win survival strategies to ensure proactive domination. At
                                        the end of the day, going forward, a new normal that has evolved from generation
                                        X is on the runway heading towards a streamlined cloud solution. User generated
                                        content in real-time
                                    </p>
                                    <p>
                                        Podcasting operational change management inside of workflows to establish a
                                        framework. Taking seamless key performance indicators offline to maximise the
                                        long tail. Keeping your eye on the ball while performing a deep dive on the
                                        start-up mentality to derive convergence on cross-platform integration.
                                    </p>
                                    <p>
                                        Completely synergize resource taxing relationships via premier niche markets.
                                        Professionally cultivate one-to-one customer service with robust ideas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-comments">
                        <h3 class="comment-title"><span>02 Comments on this post</span></h3>
                        <ul class="comments-list">
                            <li>
                                <div class="comment-img">
                                    <img src="~/images/blog/comment1.jpg" alt="img">
                                </div>
                                <div class="comment-desc">
                                    <div class="desc-top">
                                        <h6>Arista Williamson</h6>
                                        <span class="date">19th May 2023</span>
                                        <a href="javascript:void(0)" class="reply-link"><i class="lni lni-reply"></i>Reply</a>
                                    </div>
                                    <p>
                                        Donec aliquam ex ut odio dictum, ut consequat leo interdum. Aenean nunc
                                        ipsum, blandit eu enim sed, facilisis convallis orci. Etiam commodo
                                        lectus
                                        quis vulputate tincidunt. Mauris tristique velit eu magna maximus
                                        condimentum.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="comment-img">
                                    <img src="~/images/blog/comment3.jpg" alt="img">
                                </div>
                                <div class="comment-desc">
                                    <div class="desc-top">
                                        <h6>Alex Jemmi</h6>
                                        <span class="date">12th May 2023</span>
                                        <a href="javascript:void(0)" class="reply-link"><i class="lni lni-reply"></i>Reply</a>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="comment-form">
                        <h3 class="comment-reply-title">Leave a comment</h3>
                        <form action="/BlogSingle/index" method="post" >
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-box form-group">
                                        <label>Comment</label>
                                       <textarea name="Comment" class="form-control form-control-custom" placeholder="Write your Comments"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-box form-group">
                                        <label>Your name</label>
                                        <input name="NewsId" value="@Model.Id" class="d-none" />
                                        <input type="text" name="SenderName" class="form-control form-control-custom" placeholder="Alex Deo" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-box form-group">
                                        <label>Email address</label>
                                        <input type="email" name="SenderEmail" class="form-control form-control-custom" placeholder="example@gmail.com" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="button">
                                        <button type="submit" class="btn">Post Comment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <aside class="col-lg-4 col-md-12 col-12">
                    <div class="sidebar">

                        <div class="widget search-widget">
                            <h5 class="widget-title">Search This Site</h5>
                            <form action="#">
                                <input type="text" placeholder="Search ...">
                                <button type="submit"><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div>


                        <div class="widget popular-feeds">
                            <h5 class="widget-title">Popular Feeds</h5>
                            <div class="popular-feed-loop">
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <a href="javascript:void(0)" class="cetagory">Creative</a>
                                        <h6 class="post-title">
                                            <a href="404.html">
                                                Bringing Great Design
                                                Ideas To Completion
                                            </a>
                                        </h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 05th Nov 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <a href="javascript:void(0)" class="cetagory">Jobs</a>
                                        <h6 class="post-title">
                                            <a href="404.html">
                                                Live Life Smart And
                                                Focus On The Positive
                                            </a>
                                        </h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 24th March 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <a href="javascript:void(0)" class="cetagory">Marketing</a>
                                        <h6 class="post-title">
                                            <a href="404.html">
                                                How did we get 1M+
                                                visitors in 30 days without anything!
                                            </a>
                                        </h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 30th Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="widget categories-widget">
                            <h5 class="widget-title">Categories</h5>
                            <ul class="custom">
                                <li>
                                    <a href="javascript:void(0)">Web Design</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Branding</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Graphic Design</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Marketing</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Wireframing</a>
                                </li>
                            </ul>
                        </div>


                        <div class="widget popular-tag-widget">
                            <h5 class="widget-title">Popular Tags</h5>
                            <div class="tags">
                                <a href="javascript:void(0)">Popular</a>
                                <a href="javascript:void(0)">Design</a>
                                <a href="javascript:void(0)">UX</a>
                                <a href="javascript:void(0)">Usability</a>
                                <a href="javascript:void(0)">Interview</a>
                                <a href="javascript:void(0)">Jobs</a>
                                <a href="javascript:void(0)">Develop</a>
                                <a href="javascript:void(0)">Business</a>
                                <a href="javascript:void(0)">Tech</a>
                                <a href="javascript:void(0)">Consult</a>
                                <a href="javascript:void(0)">Employee</a>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>
        </div>
    </section>


    <div class="client-logo">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-12 text-center">
                    <div class="single-logo">
                        <img src="~/images/client-logo/graygrids-logo.svg" alt="#">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 text-center">
                    <div class="single-logo">
                        <img src="~/images/client-logo/lineicons-logo.svg" alt="#">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 text-center">
                    <div class="single-logo">
                        <img src="~/images/client-logo/pagebulb-logo.svg" alt="#">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 text-center">
                    <div class="single-logo">
                        <img src="~/images/client-logo/uideck-logo.svg" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>

